{%include "base.html" %}


{% block body %}

#Codigo de errores
{% if user.is_authenticated %}
<div class="alert alert-info">Estas autenticado </div>
{% else %}

<div class="alert alert-info">Por favor,logueate bro </div>
{% endif %}

{% if form.errors %}
<div class="alert alert-danger">Username o Password incorrectos </div>
{% endif %}

#Fin de codigo de errores
<form method="post" action="{% url 'password_change' %}">
    {% csrf_token %}
    <td>{{ form | bootstrap}} </td>
    <a href="{% url 'password_reset' %}">Olvide mi contraseña </a>
    </div>

    <button type="submit" class="btn btn-success btn-lg btn-block float-end">Cambiar</button>

    <input type=hidden name="next" value="{{next}}">
</form>

    {% endblock %}