{%include "base.html" %}


{% block body %}

<div class="alert alert-info">Estas autenticado </div>

{% else %}

<div class="alert alert-info">Por favor, logueate bro </div>

{% endif %}

{% if form.errors %}
<div class="alert alert-danger">Username o Password incorrectos </div>
{% endif %}

<form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    <td>{{ form | bootstrap}}</td>
    <button type="submit" class="btn btn-success btn-lg btn-block float-end">Recuperar</button>
    <!-- submit button -->
</form>

{% endblock %}
